.container{
    max-width: 100%;
    margin-inline: auto;
    padding: .8rem;
}
.btn{
    border: none;
    background-color: white;
}
.btn-clear{
    border: none;
    background: none;
}



@media (min-width: 475px){
    
}
@media (min-width: 640px){

}
@media (min-width: 768px){

}
@media (min-width: 1024px){

}
@media (min-width: 1280px){

}
@media (min-width: 1536px){

}